@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sura&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: 0;
}

main {
    background-image: url(./assets/woman-using-a-phone-in-a-car.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#conteudo{
    background-color: #23617ba4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteudo h1{
    font-family: 'Staatliches', cursive;
    font-size: 91px;
    width: 540px;
    text-align: center;
    color: #F0AF08;
    font-weight:normal;
    margin-top: 30px;
}

#conteudo span{
    width: 784px;
    text-align: center;
    font-family: 'Sura', serif;
    color: white;
    font-size: 25px;
}

footer{
    height: 77px;
    background-color: #193c4bf6;
}